Django
django-disqus
django-import-export
django-nocaptcha-recaptcha
django-suit
django-wysiwyg-redactor
mock
pbr
Pillow
psycopg2
pytz
six
tablib
django-jquery-widgets 
django-suit
django-ckeditor-widget
psycopg2-binary
